.article-blog {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .broadcrumb {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        .shader {
            position: absolute;
            bottom: -75px;
            left: 0;
            height: 500px;
            width: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49763655462184875) 34%, rgba(255,255,255,0) 64%, rgba(255,255,255,0) 100%);
        }
        > figure {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 400px;
            img {
                height: 400px;
                width: 100%;
                object-fit: cover;
                object-position: 40% 20%;
            }
        }
        .broadcrumb-content {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            max-width: 1200px;
            margin: 0 auto;
            z-index: 2;
            margin-top: 250px;
            h1 {
                color: white;
                flex-basis: 100%;

            }
            p {
                color: white;
            }
        }

    }
    .blog-article_content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        flex-basis: 100%;
        .blog-article_content-container {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            max-width: 1200px;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            .row-reverse {
                flex-direction: row-reverse;
            }
            h2 {
                font-weight: 600;
                margin: 100px 0;
                flex-basis: 100%;
            }
            .article-section {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-basis: 100%;
                margin-bottom: 100px;
                align-items: center;
            }
            .article-section > div {
                flex-basis: 45%;
                img {
                    width: 100%;
                }
                h3 {
                    margin-bottom: 20px;
                }
                p {
                    font-weight: 200;
                }
            }
        }
    }
}